.calendarioContenedor{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap:0.5rem;
    margin: 1.5rem 2rem;
}

.login{
    display: block;
    margin: 0 auto;
    margin-top: 1.2rem;
    font-size: 3rem;
    border-radius: .5rem;
    filter: invert(1)
}
